/*

MEDIA QUERY MANAGER

0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
[1200 - 1800]px: Normal styles apply
1800px++:        Big desktop

1em = 20px

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appear {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 45em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 90em) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media only screen and (max-width: 45em) {
    body {
      padding: 0; } }

::selection {
  background-color: #af7f18;
  color: #fff; }

body {
  font-family: "Nueva Std", "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

@font-face {
  font-family: 'Nueva Std Bold Extended';
  src: 'fonts/Nueva_Std_Extended.otf'; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "Nueva Std Bold"; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 30em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: .75rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 30em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #d9a816, #af7f18);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 45em) {
    .heading-secondary {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: scale(1.025);
    text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font: "Nueva Std Bold";
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 60em) {
    .heading-tertiary {
      font-size: 1.6rem; } }

.paragraph {
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-top-small {
      margin-top: 1rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-top-medium {
      margin-top: 2rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 60em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  transition: all .2s;
  font-size: 2rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 60em) {
    .btn, .btn:link, .btn:visited {
      padding: 1.25rem 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--dark {
  background-image: linear-gradient(to right, #d9a816, #af7f18);
  color: #fff; }

.btn--animated {
  animation: appear .3s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #af7f18;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #af7f18;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  padding: 3px 1rem;
  background-color: #af7f18;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem;
  width: auto; }
  .card__side {
    height: 53rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1, .card__side--back--2, .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #d9a816, #af7f18); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 22.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events1-small.jpg);
      background-blend-mode: screen; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
        .card__picture--1 {
          background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events1.jpg); } }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events2-small.jpg);
      background-blend-mode: screen; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
        .card__picture--2 {
          background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events2.jpg); } }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events3-small.jpg);
      background-blend-mode: screen; }
      @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
        .card__picture--3 {
          background-image: linear-gradient(to right bottom, #d9a816, #af7f18), url(../img/events3.jpg); } }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 13.4rem;
    right: 2rem;
    text-align: right;
    width: 75%;
    transform: skewY(-5deg); }
  .card__heading-span {
    padding: 1rem 1.5rem;
    border-radius: 3px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1, .card__heading-span--2, .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(217, 168, 22, 0.85), rgba(175, 127, 24, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 45em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        border-radius: 0;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__picture {
        background-size: cover;
        height: 20rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      .card__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        top: 16.5rem;
        right: 0;
        width: 100%;
        transform: skewY(0); }
      .card__details {
        padding: 3rem 2rem 2rem 2rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 2rem; }
      .card__price-box {
        margin-bottom: 0; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    overflow: hidden;
    outline-offset: 2rem; }
    @media only screen and (max-width: 45em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      top: -4rem;
      left: 0; }
      @media only screen and (max-width: 45em) {
        .composition__photo--p1 {
          top: .8rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 6rem;
      left: 10rem;
      z-index: 15; }
      @media only screen and (max-width: 45em) {
        .composition__photo--p2 {
          top: -.8rem;
          left: 0;
          transform: scale(1.3); } }
    .composition__photo--p3 {
      top: 16rem;
      left: 20rem; }
      @media only screen and (max-width: 45em) {
        .composition__photo--p3 {
          left: 0;
          top: .8rem;
          transform: scale(1.2); } }
    .composition__photo:hover {
      border: .5rem solid white;
      transform: scale(1.2) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
      @media only screen and (max-width: 45em) {
        .composition__photo:hover {
          transform: scale(1.5) translateY(-1rem); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.75); }
    @media only screen and (max-width: 45em) {
      .composition:hover .composition__photo:not(:hover) {
        transform: scale(1.2); } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 45em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #d9a816, #af7f18);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 45em) {
      .feature-box__icon {
        font-size: 4rem; } }
  .feature-box:hover {
    transform: scale(1.05) translateY(-1.5rem);
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 45em) {
  .form {
    text-align: center; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  font-family: inherit;
  color: inherit;
  width: 75%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 45em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rbga(#000, 0.1);
    border-bottom: 3px solid #af7f18; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.popup {
  background-color: rgba(153, 153, 153, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
    @media only screen and (max-width: 45em) {
      .popup__left {
        width: 0%; } }
  .popup__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 45em) {
      .popup__right {
        width: 100%; } }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #ddd;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #ddd;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media only screen and (max-width: 60em) {
      .popup__text {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -moz-column-rule: 0;
        column-count: 1;
        column-gap: 0;
        column-rule: 0; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2); }
    @media only screen and (max-width: 30em) {
      .popup:target .popup__content {
        transform: translate(-50%, -50%) scale(1); } }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close--schedule {
    right: 1.5rem; }
  .popup__close--booking {
    top: 2.5rem;
    right: 2.5rem; }
  .popup__close:hover {
    color: #af7f18; }

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 0.5rem;
  padding: 4.75rem;
  padding-left: 7.75rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 45em) {
    .testimonial {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 45em) {
    .testimonial {
      padding: 3rem;
      padding-left: 5rem; } }
  .testimonial__shape {
    width: 12.5rem;
    height: 12.5rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-3rem);
    position: relative; }
    @supports (clip-path: circle(50% at 50% 50%)) or (-webkit-clip-path: circle(50% at 50% 50%)) {
      .testimonial__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 45em) {
      .testimonial__shape {
        transform: translateX(-2rem);
        width: 10rem;
        height: 10rem; } }
  .testimonial__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .5s; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden; }
  .testimonial:hover .testimonial__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .testimonial:hover .testimonial__img {
    transform: translateX(-4rem) scale(1);
    -webkit-filter: brightness(30%);
    /* Safari */
    filter: brightness(30%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 45em) {
    .footer {
      padding: 8rem 0; } }
  @media only screen and (max-width: 30em) {
    .footer {
      padding: 5rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 45em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
    @media only screen and (max-width: 30em) {
      .footer__logo-box {
        margin-bottom: 3rem; } }
  .footer__logo {
    width: 15rem;
    height: auto;
    text-align: center; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 90%; }
    @media only screen and (max-width: 45em) {
      .footer__navigation {
        display: inline-block;
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .footer__item {
    display: inline-block; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #af7f18;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 90%;
    float: right; }
    @media only screen and (max-width: 45em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 45em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
      @media only screen and (max-width: 45em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 45em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media only screen and (max-width: 45em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 8rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - (8rem*2))/3); }
  .row .col-2-of-3 {
    width: calc(100% - calc((100% - (8rem*2))/3) - 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - (8rem*3))/4); }
  .row .col-2-of-4 {
    width: calc(2 * calc((100% - (8rem*3))/4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(100% - (calc((100% - (8rem*3))/4) + 8rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(217, 168, 22, 0.7), rgba(175, 127, 24, 0.7)), url(../img/header1-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
    .header {
      background-image: linear-gradient(to left bottom, rgba(217, 168, 22, 0.7), rgba(175, 127, 24, 0.7)), url(../img/header1.jpg); } }
  @media only screen and (max-width: 45em) {
    .header {
      height: 100vh; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
    @media only screen and (max-width: 30em) {
      .header__logo-box {
        top: 2rem;
        left: 2rem; } }
  .header__logo {
    height: 18rem; }
    @media only screen and (max-width: 45em) {
      .header__logo {
        height: 15rem; } }
    @media only screen and (max-width: 30em) {
      .header__logo {
        display: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 45em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (max-width: 30em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#d9a816, #af7f18);
  z-index: 100;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 45em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media only screen and (max-width: 30em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(30deg, transparent 0%, transparent 50%, #fff);
  background-image: -o-linear-gradient(30deg, transparent 0%, transparent 50%, #fff);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #af7f18;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 17rem 0;
  margin-top: -8rem; }
  @media only screen and (max-width: 60em) {
    .section-about {
      padding: 15rem 0;
      margin-top: -6rem; } }
  @media only screen and (max-width: 45em) {
    .section-about {
      padding: 8rem 0;
      margin-top: 0rem; } }

#section-features {
  padding-top: 7rem;
  margin-top: -7rem; }
  @media only screen and (max-width: 60em) {
    #section-features {
      padding-top: 8rem;
      margin-top: -8rem; } }

.section-features__features-box {
  padding: 25rem 0;
  background-image: linear-gradient(to left bottom, rgba(217, 168, 22, 0.45), rgba(175, 127, 24, 0.45)), url(../img/stones-small.jpg);
  background-size: cover; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
    .section-features__features-box {
      background-image: linear-gradient(to left bottom, rgba(217, 168, 22, 0.45), rgba(175, 127, 24, 0.45)), url(../img/stones.jpg); } }
  @media only screen and (max-width: 60em) {
    .section-features__features-box {
      padding: 20rem 0; } }
  @media only screen and (max-width: 45em) {
    .section-features__features-box {
      padding: 8rem 0; } }

.section-events {
  background-color: #f7f7f7;
  padding: 10rem 0; }
  @media only screen and (max-width: 60em) {
    .section-events {
      padding: 8rem 0; } }

.section-testimonials {
  position: relative;
  padding: 10rem 0; }
  @media only screen and (max-width: 60em) {
    .section-testimonials {
      padding: 8rem 0; } }

.section-subscribe {
  padding: 18rem 0;
  background-image: linear-gradient(to right bottom, #d9a816, #af7f18); }
  @media only screen and (max-width: 60em) {
    .section-subscribe {
      padding: 12.5rem 0; } }
  @media only screen and (max-width: 45em) {
    .section-subscribe {
      padding: 10rem 0; } }

.subscribe {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(../img/subscribe-small.jpg);
  background-size: 100%;
  height: 60rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (min-resolution: 192dpi) and (min-width: 30em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), only screen and (min-width: 90em) {
    .subscribe {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(../img/subscribe.jpg); } }
  @media only screen and (max-width: 60em) {
    .subscribe {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 60%, transparent 60%), url(../img/subscribe-small.jpg);
      background-size: cover;
      height: auto; } }
  @media only screen and (max-width: 45em) {
    .subscribe {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/subscribe-small.jpg); } }
  .subscribe__form {
    width: 57%;
    padding: 6rem; }
    @media only screen and (max-width: 60em) {
      .subscribe__form {
        width: 60%; } }
    @media only screen and (max-width: 45em) {
      .subscribe__form {
        width: 100%; } }
