.composition {
  position: relative;

  &__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 1rem;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    overflow: hidden;

    &--p1 {
      top: -7rem;
      left: 0;
    }

    &--p2 {
      top: 3rem;
      left: 12rem;
      z-index: 15;
    }

    &--p3 {
      top: 13rem;
      left: 24rem;
    }

    &:hover {
      border: .5rem solid white;
      transform: scale(1.2) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.75);
  }
}
