.section-about {
  background-color: $color-grey-light-1;
  padding: 17rem 0;
  margin-top: -9rem;
}

.section-features {
  &__features-box {
    margin-top: -6.3rem;
    padding: 17rem 0 20rem;
    background-image: linear-gradient(to left bottom,
      rgba($color-primary-light, 0.45),
      rgba($color-primary-dark, 0.45)),
      url(../img/stones.jpg);
      background-size: cover;
      transform: skewY(-4deg);

      & > * {
        transform: skewY(4deg);
      }
  }
}

.section-events {
  background-color: $color-grey-light-1;
  padding: 18rem 0 8rem 0;
  margin-top: -9rem;
}

.section-testimonials {
  position: relative;
  padding: 8rem 0;
}

.section-subscribe {
  padding: 8rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.subscribe {
  background-image: linear-gradient(105deg,
                                  rgba($color-white, .75) 0%,
                                  rgba($color-white, .75) 50%,
                                  transparent 50%),
                            url(../img/subscribe.jpg);
  background-size: 100%;
  height: 60rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  &__form {
    width: 57%;
    padding: 6rem;
  }
}
