.section-about {
  background-color: $color-grey-light-1;
  padding: 17rem 0;
  margin-top: -9rem;
}

.section-features {
  // padding: 13rem 0;
  // background-color: lighten($color-grey-light-3, 11%);
  &__features-box {
    margin-top: -6.3rem;
    padding: 17rem 0 20rem;
    background-image: linear-gradient(to left bottom,
      rgba($color-primary-light, 0.45),
      rgba($color-primary-dark, 0.45)),
      url(../img/stones.jpg);
      background-size: cover;
      transform: skewY(-4deg);

      & > * {
        transform: skewY(4deg);
      }
  }
}

.section-events {
  background-color: $color-grey-light-1;
  padding: 17rem 0;
  margin-top: -9rem;
}
